@import url(./theme.css);
.header {
  position: sticky;
  top: 0;
  inset-inline-start: var(--aside-width);
  width: calc(100% - var(--aside-width));
  background-color: var(--primary-color);
  color: var(--white-color);
  z-index: 99;
}
.header-content {
  padding: 14px 24px;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  inset-inline-start: 0;
  height: 100vh;
  width: var(--aside-width);
  color: var(--secondery-color);
  z-index: 100;
  transition: width 0.3s ease-in-out;
  box-shadow: 2px 4px 28px 0px rgba(0, 0, 0, 0.25);
}
#content {
  width: calc(100% - var(--aside-width));
  margin-inline-start: auto;
  display: flex;
  flex-direction: column;
}
.main-content {
  padding-block: 14px;
  flex-grow: 1;
}
.breadcrumb-content {
  background-color: var(--white-color);
  padding: 12px 0;
  width: calc(100% - var(--aside-width));
  margin-right: var(--aside-width);
}
.breadcrumb > li {
  position: relative;
}
.breadcrumb > li:not(:last-child):after {
  content: "/";
  margin: 0 6px;
  color: #8f949c;
  font-size: 14px;
}
.breadcrumb > li > a {
  color: #8f949c;
  font-size: 14px;
  text-transform: capitalize;
}
.breadcrumb > li.active > a {
  color: var(--secondery-color);
}
/* tooltip */
.tooltip-inner {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  border-radius: 8px;
  padding: 7px 12px;
  font-size: 14px;
  border-color: var(--primary-color);
  white-space: nowrap;
  width: max-content !important;
  max-width: unset;
}

/* .tooltip .tooltip-arrow::before {
  border-bottom-color: var(--secondery-color) !important;
} */

/* custom dropdown */
.custom-dropdown-menu {
  padding: 8px;
  border-radius: 8px;
  background: #e0e1e175;
  color: var(--primary-color);
  border: 0px;
  top: 5px !important;
  z-index: 3;
}
.custom-dropdown-menu .dropdown-item {
  border-radius: 6px;
}
.custom-dropdown-menu .dropdown-item:hover {
  background-color: var(--light-primary-color);
}
.status_dropdown {
  position: relative;
  width: max-content;
  max-width: unset;
}
.status_dropdown .dropdown-toggle {
  border-radius: 8px;
  border: 1px solid #E9EAEB;
  padding: 7px 12px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap:10px;
  font-size: 14px;
  font-weight: 500;
  min-width: 100px;
}
.status_dropdown .dropdown-toggle:focus {
  background-color: #fff;
  border: 1px solid #E9EAEB;
}
.status_dropdown .dropdown-toggle::after {
  margin: 0px;
  border: 0px; 
}
.status_dropdown > .dropdown-toggle .status  {
  background-color: transparent !important;
  padding-inline-end: 10px !important;
  padding-inline-start: 0px !important;
  padding-block: 0px;
}
.status_dropdown .dropdown-menu {
  background-color: #fff;
  border: 0px;
  box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.438);
}
.status_dropdown .input-icon {
  font-size: 12px;
  color: var(--gray-color);
  pointer-events: none;
}
.status.done {
  color: #28a745;
}
.custom-card {
  border-radius: 8px;
  background-color: #fff;
}
.danger_card {
  padding: 12px;
  border-radius: 8px;
  background: #FFF5F6;
  display: flex;
  align-items: start;
  gap: 8px;
  width: 100%;
}
.inputs-grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  gap: 15px 10px;
}
.inputs-grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 15px 10px;
}
.full-width {
  grid-column: 1 / -1;
}
.inputs-grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px 10px;
}
.gap-10 {
  gap: 10px;
}
.user_profile {
  display: flex;
  align-items: center;
  gap: 16px;
}
.user_profile .title {
  font-size: 14px;
  font-weight: 400;
}
/* navbar */
.mainNav-list {
  gap: 24px;
}
.mainNav-item {
  color: #d9d8d8c4;
}
.mainNav-item.active {
  color: #fff;
}
.mainNav-item i {
  font-size: 19px;
}
.mainNav-title {
  font-size: 12px;
  font-weight: 400;
  margin-top: 3px;
}
.nav-userProfile .dropdown-toggle {
  padding: 0px;
  background: transparent;
  box-shadow: none;
  border: 0px;
}
.nav-userProfile img {
  margin: 0px !important;
  padding: 0px !important;
}
.navAction_item .dropdown-toggle {
  padding: 8px 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  border: 0px;
  color: #fff;
}
.header .dropdown-toggle::after {
  display: none;
}
.indicator {
  position: absolute;
  inset-block-start: -7px;
  inset-inline-start: -8px;
  padding: 2px;
  aspect-ratio: 1/1;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ff3d54;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
}
/* aside */
aside .aside_container::-webkit-scrollbar {
  display: none;
}
.aside_container {
  direction: ltr;
  background-color: #f4f4f4;
  padding-block: 15px;
  overflow: auto;
  height: 100%;
}
.aside_logo {
  width: 100%;
  height: 51px;
  padding-inline: 12px;
  text-align: center;
  transition: padding-inline 0.3s ease-in-out;
}
.logo_title {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.aside_menu {
  gap: 5px;
  margin-block: 30px;
}
.parent-nav-item {
  font-size: 22px;
  width: 100%;
  text-align: center;
  padding: 9px 22px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  color: var(--secondery-color);
}
.aside_item_title {
  opacity: 0;
  font-size: 14px;
  display: block;
  font-weight: 500;
  text-transform: capitalize;
  white-space: nowrap;
  transition: opacity 0.2s ease-in-out;
}
.aside_footer_logo {
  margin-top: 60px;
  height: 31px;
  color: #1d5166;
  padding-inline: 15px;
  transition: padding-inline 0.3s ease-in-out;
}
.aside_footer_title {
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  white-space: nowrap;
}
.parent-nav-item.aside_active {
  background-color: var(--secondery-color);
  color: #fff;
}
.sidebar:hover {
  width: 220px;
}
.sidebar:hover .aside_item_title,
.sidebar:hover .aside_footer_title,
.sidebar:hover .logo_title {
  opacity: 1;
}
.sidebar:hover .aside_logo,
.sidebar:hover .aside_footer_logo {
  padding-inline: 42px;
}
/* end of aside */
.statics-content {
  margin-top: 23px;
  margin-bottom: 29px;
}
.stat-item {
  border-radius: var(--raduis-md);
  position: relative;
  border: 1px solid #ddd;
}
.stat-count {
  font-size: 48px;
}
.stat-icon {
  position: absolute;
  inset-inline-start: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.stat-cont {
  position: relative;
  z-index: 1;
}
.boxs-content .box {
  border-radius: var(--raduis-lg);
}
.box-head {
  padding: 16px 24px;
  border-bottom: 1px solid #e4e4e4;
}
.mettings-box .box-head .box-title {
  color: var(--white-color);
}
.box-body {
  padding: 20px 24px;
}
.box .box-cell {
  padding: 10px 0;
}
.attendance-box .box-cell {
  padding: 18px 0;
}
.attendance-box .box-cell {
  border-bottom: 1px solid #e4e4e4;
}
.attendance-box .box-cell:last-child {
  border-bottom: none;
}
.mettings-box .cell-info,
.mettings-box .cell-title {
  flex: 1;
}
.cell-info > li,
.cell-info .view {
  color: #dce7eb;
  font-size: 13px;
}
.custom-tabs {
  gap: 12px;
}
.custom-tabs .nav-item .nav-link {
  border: 1px solid #ededed;
  border-radius: var(--raduis-md);
  color: #939393;
  font-size: 13px;
  font-weight: 500;
}
.custom-tabs .nav-item .nav-link.active {
  background-color: rgba(42, 102, 188, 0.05);
  color: var(--secondery-color);
}
.task-status {
  padding: 2px 6px;
  position: relative;
  border-radius: var(--raduis-lg);
}
.task-status::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-inline-end: 5px;
}
.task-status.pending {
  background-color: #fff6ed;
  color: #fb6514;
}
.task-status.pending::before {
  background-color: #fb6514;
}
.task-status.active {
  background-color: #d7e5f8;
  color: var(--secondery-color);
}
.task-status.active::before {
  background-color: var(--secondery-color);
}
.task-date {
  display: inline-block;
  color: #a7a7a7;
}
.edit-task {
  color: #309b0f;
}
.advertise-box .box-body ,
.fastLinks-box .box-body {
  padding: 10px 0;
}
.advertise-box .box-cell ,
.fastLinks-box .box-cell {
  padding: 0;
}
.advertise-box .box-body .fast-link:hover {
  background-color: unset;
}
.fast-link {
  width: 100%;
  padding: 10px 24px;
  color: var(--secondery-color);
}
.fast-link:hover {
  background-color: #f4f4f4;
}

/****************missions*********************/
.filters {
  border-radius: var(--raduis-lg);
}
.head-content {
  border-bottom: 1px solid #f4f5f6;
}
.filters-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}
.custom-label {
  font-size: 14px;
  color: #181D27;
  display: block;
  margin-bottom: 8px;
  position: relative;
}
.form-label {
  color: #181D27;
  position: relative;
}
.required .custom-label::after,
.required .form-label::after {
  content: "*";
  font-size: 14px;
  position: absolute;
  top: 0;
  padding-inline: 3px;
  color: red;
}
.form-control {
  padding: var(--form-control-padding);
  border-radius: var(--raduis-sm) !important;
  border: 1px solid #d5d7da;
  font-size: 14px;
  height: 40px;
}
select.form-control {
  appearance: none;
  min-width: 85px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: top 50% right 14px;
}
html[dir="rtl"] select.form-control {
  background-position: top 50% left 14px;
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--secondery-color);
}
textarea.form-control {
  height: auto;
}
.form-check-inline {
  margin: 0;
  display: inline-flex;
  gap: 8px;
  align-items: start;
}
.accept-radio-card {
  border-radius: 8px;
  background: #F5F7FA;
  padding: 12px;
}
.form-check .form-check-input {
  margin: 0;
  float: none;
}
.form-check-input:focus {
  box-shadow: none;
}
.form-check-input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #9da4b0;
  border-radius: 50%;
  outline: none;
}
.form-check-input[type="radio"]:checked {
  border-color: var(--secondery-color);
  background: radial-gradient(
    var(--secondery-color) 0%,
    var(--secondery-color) 40%,
    transparent 50%
  );
}
.form-check-label {
  color: var(--text-color);
  -webkit-text-fill-color: var(--text-color);
} /* Flatpicker style */
.input_flat_picker {
  border-radius: var(--raduis-sm) !important;
  padding: var(--form-control-padding);
  border: 1px solid #d5d7da;
  background: #fff !important;
}
.flat_picker_icon ,
.input-icon {
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: translate(12px, -50%);
  color: var(--secondery-color);
}
/* header */
.flatpickr-months {
  background-color: var(--secondery-color);
  padding: 5px 8px;
  color: #fff;
  border-top-left-radius: var(--raduis-md);
  border-top-right-radius: var(--raduis-md);
}
.flatpickr-prev-month,
.flatpickr-next-month {
  position: static !important;
  text-align: center;
  display: flex;
  fill: #fff !important;
  color: #fff !important;
  font-weight: 800;
  font-size: 20px;
}
.flatpickr-current-month {
  display: flex !important;
  gap: 10%;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  right: unset !important;
  left: unset !important;
  padding: 0px 30px !important;
}
.numInputWrapper,
.flatpickr-monthDropdown-months {
  width: 45% !important;
}
.numInput.cur-year {
  direction: ltr !important;
  color: #fff !important;
}
select.flatpickr-monthDropdown-months {
  color: #fff !important;
}
select.flatpickr-monthDropdown-months option {
  color: #1b1b1b !important;
}
select.flatpickr-monthDropdown-months:hover,
.numInputWrapper:hover {
  background-color: transparent !important;
}
/* calendar body */
.calendar-toolbar {
  background: #fff;
  border-radius: var(--raduis-md);
  padding: 16px;
}
.flatpickr-day {
  border-radius: 50% !important;
  border: 0px !important;
  padding: 0px !important;
}
.flatpickr-day:hover {
  background-color: var(--light-secondary-color) !important;
}
.flatpickr-day.selected {
  background-color: var(--secondery-color) !important;
  border-radius: 50% !important;
}
.flatpickr-months .flatpickr-prev-month:hover svg, .flatpickr-months .flatpickr-next-month:hover svg {
  fill: rgb(187, 186, 186) !important;
}







/* prev / next bts style */
.page_filter .fc-header-toolbar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.page_filter .fc-button-group {
  display: flex;
  gap: 10px;
  align-items: center;
}
.page_filter .fc-toolbar-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  white-space: nowrap;
}
.page_filter .fc-prev-button,
.page_filter .fc-next-button {
  background: transparent;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: var(--secondary);
  font-weight: 900;
  padding-inline: 0px;
}
.page_filter .fc-today-button {
  display: none;
}





/* meetings style */
.meeting-grid-container {
  display: grid;
  grid-template-columns: minmax(140px, 1fr) 4fr;
  gap: 16px;
}
.meeting-grid-container > div {
  min-width: 0;
  overflow-wrap: break-word;
}
.metting-sidebar ul {
  padding: 12px;
  border: 0px;
}
.metting_list_item {
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
  color: #606060;
  width: 100%;
  border-radius: 6px;
  text-align: start;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    isolation: isolate;
    border-color: transparent !important;
}
.metting_list_item a {
  color: #606060;
}
.metting_list_item.active {
  background-color: var(--light-secondary-color) !important;
  color: var(--secondery-color) !important;
  border: 0px !important;
  width: 100%;
}
.metting_list_item.active a {
  color: var(--secondery-color);
}
.metting-details {
  gap: 16px;
}
.urgent-meeting {
  border-radius: 8px;
  background: #FFF5F6;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 400;
  color: #140F1F;
}
.filter-section {
  width: 100%;
}
.filter-section .card-header,
.filter-section .card-body,
.filter-section .card-footer {
  padding: 16px;
}
.noPadding-card .card-header,
.noPadding-card .card-body,
.noPadding-card .card-footer {
  padding: 16px;
}

.filter-section .card-header,
.noPadding-card .card-header {
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #d5d7dae5;
}
.meetings-table-section {
  padding: 16px;
}
.table-title {
  font-size: 16px;
  font-weight: 500;
}
.custom-table {
  min-width: max-content !important;
  margin-bottom: 0px !important;
}
.custom-table thead {
  background: #f4f7fb;
}
.custom-table tbody tr {
  vertical-align: middle;
}
.custom-table tbody tr:last-child > * {
  border: 0px !important;
}
.custom-table th:first-child {
  border-bottom-right-radius: var(--raduis-md);
  border-top-right-radius: var(--raduis-md);
}
.custom-table th:last-child {
  border-bottom-left-radius: var(--raduis-md);
  border-top-left-radius: var(--raduis-md);
}
.custom-table th {
  font-size: 14px;
  font-weight: 500;
  color: #606060;
  padding: 12px 16px;
}
.custom-table thead th {
  border: 0px;
  white-space: nowrap;
}
.custom-table td {
  font-size: 14px;
  font-weight: 400;
  padding: 16px;
}
.custom-table .icon {
  color: #848a9c;
  font-size: 18px;
}
.custom-table .icon:hover {
  color: var(--secondery-color);
}
.custom-table .icon.board-bin:hover {
  color: var(--red);
}
/* status */

.status-pending-review {
  color: #fb6514;
  background-color: #fff6ed;
}
.status-waiting {
  color: #2a66bc;
  background-color: #eaf0f9;
}

/* Pagination */
.pagination {
  margin-bottom: 0px;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7px;
}
.pagination .prev,
.pagination .next {
  border-radius: 8px;
  border: 1px solid #d5d7da;
  background: #fff;
  text-decoration: none;
  padding: 8px 14px;
  color: #606060 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  min-width: 100px;
  text-align: center;
}
.pagination-item {
  font-size: 14px;
  font-weight: 500;
  padding: 9px 14px;
  text-decoration: none;
  color: #606060;
}
.pagination-item.active {
  border-radius: var(--raduis-sm);
  color: #fff;
  background: var(--secondery-color);
}
.fltr-btns {
  grid-column: 1 / -1;
}
.fltr-btn {
  border-radius: var(--raduis-sm);
  font-weight: 500;
  border: 1px solid var(--secondery-color);
}
.missions {
  margin-top: 24px;
  border-radius: var(--raduis-lg);
}
.action-btn {
  height: 36px;
  border-radius: var(--raduis-sm);
  padding: 5px 14px;
}
.custom-dropdown {
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.571);
  border: 0px;
  text-align: start;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: rgba(239, 237, 237, 0.751);
}
.custom-dropdown .dropdown-toggle::after {
  display: none;
}
.customDrop-menu {
  min-width: 6rem;
}
.customDrop-menu .dropdown-item {
  font-size: 14px;
  color: var(--white-color);
}
.customDrop-menu .dropdown-item:hover {
  color: var(--primary-color);
}
.tabs-with-bg {
  background-color: #f8f8f8;
  width: fit-content;
  gap: 0;
  border-radius: var(--raduis-md);
}
.tabs-with-bg .nav-item .nav-link {
  border: none;
  min-width: 143px;
  height: 40px;
}
.tabs-with-bg .nav-item .nav-link.active {
  background-color: var(--secondery-color);
  color: var(--white-color);
}
.table {
  --bs-table-border-color: #e9eaeb;
  min-width: 1024px;
}
.table-action {
  color: var(--gray-color);
  font-size: 16px;
  padding: 0;
  line-height: 0px;
}
.table-action:hover {
  color: var(--secondery-color);
  opacity: 1;
}
.table-action:has(.board-add) {
  border-radius: 4px;
  padding: 4px;
  font-size: 8px;
  border: 1px solid;
}
.sharp-status {
  border-radius: 8px !important;
}
.status-type {
  border-radius: 50% !important;
  /* width: max-content; */
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table .status {
  display: inline-block;
  position: relative;
  padding: 6px 8px;
  border-radius: 50px;
  white-space: nowrap;
}
.status-action-table {
  border-radius: var(--raduis-sm) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.custom-card .status {
  padding: 8px 15px;
  border-radius: 50px;
}
.table .status:before,
.table-status::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-inline-end: 5px;
}
.status.pending {
  color: #fb6514;
  background-color: #fff6ed;
}
.status.disabled {
  color: #848a9c;
  background-color: #fafafa;
}
.accept {
  background-color: #88C941;
  color: #fff;
}
.reject {
  background-color: #EE404C;
  color: #FFF7ED;
}

.table .status.pending::before ,
.table-status.pending::before {
  background-color: #fb6514;
}
.table .status.disabled::before ,
.table-status.disabled::before {
  background-color:  #848a9c;
}
.table .status.waiting::before,
.table-status.waiting::before {
  background-color: #2a66bc;
}
.table .status.danger::before,
.table-status.danger::before {
  background-color: var(--red);
}
.table .status.completed::before,
.table-status.completed::before {
  background-color: var(--success-color);
}
.status.completed ,
.status.active {
  color: var(--success-color);
  background-color: #e5fadf;
}
.status.waiting {
  color: #2a66bc;
  background-color: #eaf0f9;
}
.status-disabled {
  color: #848a9c;
  background-color: #F7F7F7;
}
.status.danger {
  color: var(--red);
  background-color: #FFECEE;
}
.action-icons li {
  border-radius: 8px;
  background: #F7F7F7;
  padding: 2px 8px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-icons li a {
  color: #606060;
}
.action-icons li:has(i.board-bin) {
  background-color: #FFECEE;
}
i.board-bin {
  color: #FF3D54 !important;
}
.add-mission {
  border-radius: var(--raduis-lg);
}
.form-btn {
  min-width: 116px;
}
.radio_container {
  border-radius: var(--raduis-sm);
  background: #f4f7fb;
  padding: 12px 16px;
}
.custom-radio-check {
  margin: 0px;
  min-height: unset;
  padding-right: 1.5em;
  padding-left: unset;
}
.custom-radio-check .form-check-input {
  float: right !important;
  margin-right: -1.5em !important;
}
.custom-radio-check .form-check-input[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Ccircle cx='4' cy='4' r='2' fill='%232A66BC'/%3E%3C/svg%3E");
}
.custom-radio-check .form-check-input:checked {
  background-color: transparent;
  border: 2px solid var(--secondery-color);
}
.form-check-input:focus {
  box-shadow: none;
}
.links-deatils {
  display: flex;
  gap: 16px;
}
.links-data {
  width: 69%;
  max-width: 69%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.links-records {
  width: 30%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card_Details_item {
  min-width: 45%;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
}
.edit_card_item {
  padding: 7px 5px;
  border-radius: 8px;
  border: 1px solid #F5F6F7;
  background: #FBFBFC;
  gap: 10px;
  color: var(--secondery-color);
}
.edit_card_item .Details_item_icon {
  background-color: transparent;
  font-size: 21px;
  padding: 0px;
}
.Details_item_icon {
  border-radius: 50%;
  padding: 6px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-secondary-color);
  color: var(--third-color);
  width: 34px;
  height: 34px;
  z-index: 11;
  cursor: pointer;
}
.Details_item_icon:has(.board-bin) {
  background: rgba(255, 6, 35, 0.05);
}
.Details_item_icon i::before {
  transform: translate(0px, 1px);
}
.Agenda_Details_item {
  position: relative;
}
.Agenda_Details_item:not(:last-child)::before{
  position: absolute;
  content: " ";
  height: 100%;
  inset-inline-start: 16px;
  inset-block-start: 34px;
  border: 1px dashed var(--light-secondary-color);
}
.Agenda_Details_item_content {
  width: 100%;
  padding-inline-start: 40px;
}
.metting-sidebar .heading {
  padding: 22px 12px;
}
.meeting-points-item {
  border-radius: 8px;
  border: 1px solid #F5F6F7;
  background: #FBFBFC;
  padding: 8px;
  color: var(--secondery-color);
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}
.searchBox {
  position: relative;
  padding: 0 12px;
}
.search-input {
  padding-inline-start: 28px;
}
.search-icon {
  display: inline-block;
  position: absolute;
  bottom: 6px;
  font-size: 18px;
  color: var(--primary-color);
  inset-inline-start: 19px;
}
.files-content {
  border-radius: var(--raduis-md);
  padding: 12px;
}
.files-content .head {
  margin-bottom: 10px;
}
.file-item {
  background-color: rgba(244, 247, 251, 0.5);
  padding: 12px;
  border-radius: var(--raduis-md);
}
.file-item .file-icon {
  font-size: 48px;
  color: var(--secondery-color);
}
.file-item.active {
  background-color: #e6f1ff;
}
.custom-modal .modal-dialog {
  min-width: 30%;
  width: max-content;
  max-width: 900px;
}
.custom-modal .modal-header {
  align-items: center;
  border: none;
}
.modal-header {
  display: flex;
  align-items: center !important;
  justify-content: space-between;
}
.modal-header .btn-close {
  margin: 0px;
  height: 30px;
  font-size: 12px;
  border-radius: var(--raduis-lg);
  padding: 5px 14px !important;
  opacity: 1;
  background-color: var(--primary-color);
  --bs-btn-close-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E");
}
.modal-header .btn-close:focus ,
.modal-header .btn-close:hover {
  box-shadow: unset;
  opacity: 0.8;
}
.modal-title {
  font-size: 18px;
  font-weight: 500;
}
.modal-header .close {
  width: 28px;
  height: 28px;
  font-size: 20px;
  font-weight: 300;
  opacity: 1;
  margin: -1rem auto -1rem 0;
}
.tableBtn {
  background-color: rgba(42, 102, 188, 0.05);
  padding: 2px 8px;
  border-radius: var(--raduis-sm);
}
.noResults-icon {
  max-width: 150px;
  max-height: 170px;
}
.form-switch .form-check-input.custom-switch {
  width: 40px;
  height: 20px;
  cursor: pointer;
  background-color: #a3aebd;
  border-color: #a3aebd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.form-switch .form-check-input.custom-switch:checked {
  background-color: #17af3f;
  border-color: #17af3f;
}
/* full calendar style */
.full_Calendar {
  min-height: max-content;
  overflow: auto;
}
/* prev / next bts style */
.calendar-toolbar .fc-header-toolbar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.calendar-toolbar .fc-button-group {
  display: flex;
  gap: 10px;
  align-items: center;
}
.calendar-toolbar .fc-toolbar-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  white-space: nowrap;
}
.calendar-toolbar .fc-prev-button,
.calendar-toolbar .fc-next-button {
  background: transparent;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: var(--secondery-color);
  font-weight: 900;
  padding-inline: 0px;
}
.calendar-toolbar .fc-today-button {
  display: none;
}
/* end btns style */
.full_Calendar .presentation {
  padding: 0px;
}
.full_Calendar .fc-theme-standard .fc-scrollgrid {
  border: 0px;
}

.full_Calendar table.fc-col-header th,
.full_Calendar table.fc-col-header td,
.full_Calendar table.fc-scrollgrid-sync-table th,
.full_Calendar table.fc-scrollgrid-sync-table td {
  background-color: #fff;
  border: 0px;
  border-radius: 8px;
  padding: 8px;
}
.full_Calendar .fc .fc-scroller {
  width: 100%;
}

.full_Calendar table.fc-col-header,
.full_Calendar table.fc-scrollgrid-sync-table {
  border-collapse: separate;
  border-spacing: 10px;
  background-color: var(--body-bg);
}
.full_Calendar table.fc-col-header {
  border-collapse: separate;
  border-spacing: 10px 0px;
  background-color: var(--body-bg);
}
.full_Calendar .fc-col-header,
.full_Calendar .fc-scrollgrid-sync-table {
  min-width: 600px;
}
.full_Calendar .fc-col-header-cell-cushion {
  font-size: 14px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}
.full_Calendar .fc-daygrid-day-number {
  color: #848a9c !important;
  font-size: 14px;
  font-weight: 400;
}
.full_Calendar .fc-theme-standard td,
.full_Calendar .fc-theme-standard th {
  border: 0px;
}
.full_Calendar .fc-daygrid-day-events::after,
.full_Calendar .fc-daygrid-day-events::before,
.full_Calendar .fc-daygrid-day-frame::after,
.full_Calendar .fc-daygrid-day-frame::before,
.full_Calendar.fc-daygrid-event-harness::after,
.fc-daygrid-event-harness::before {
  content: none;
}
.full_Calendar .fc .fc-daygrid-day-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.full_Calendar .fc-daygrid-day-bottom {
  display: none;
}

.full_Calendar .fc .fc-daygrid-day.fc-day-today {
  background-color: #fff;
}
.full_Calendar .fc-day-today .fc-daygrid-day-number {
  color: var(--secondery-color) !important;
  background-color: var(--light-secondary-color) !important;
}
.full_Calendar .fc .fc-daygrid-day-number {
  max-height: max-content;
  text-decoration: none;
}
.full_Calendar .fc .fc-scroller {
  overflow: auto !important;
}
.fc-view-harness {
  height: max-content;
  min-height: 710px;
}
/* events style */
.full_Calendar .fc-daygrid-event-harness::after {
  content: none;
}
.full_Calendar .fc .fc-daygrid-day-top {
  flex-direction: row;
  flex-grow: 1;
}
.full_Calendar .event {
  padding: 4px;
  font-weight: 400;
  border-radius: 8px;
  border: 0px;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.event.meeting {
  background-color: var(--secondery-color);
  color: #fff;
}
.event.task {
  background-color: #FB6514; /* أصفر مثلاً */
  color: #FFF;
}
.task-event {
  min-height: 28px;
}
.fc-h-event .event-title {
  white-space: wrap;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  width: 60%;
}
.event-time {
  padding: 8px;
  border-radius: 4px;
  background: #f5f7fa;
  width: 50px;
  white-space: normal;
  font-size: 14px;
  line-height: 15px;
  color: var(--secondery-color);
  width: 30%;
  min-width: min-content;
}
.event-tooltip {
  z-index: 9999;
  min-width: 180px;
  direction: rtl;
  text-align: right;
  color: #333;
  font-size: 14px;
  background-color: #fff;
  border-radius: 12px;
  padding: 12px;
  width: 20vw;
  box-shadow: 0px 0px 12px -2px rgba(16, 24, 40, 0.12);
}
.event-tooltip h4 {
  margin: 0 0 5px 0;
  font-size: 16px;
  color: #000;
}
.event-tooltip p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.tooltip-title {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f0f1f3;
}
.custom-checkbox.form-check-input {
  width: 18px;
  height: 18px;
  background-size: 20px 20px;
  background-position: 25% 29%;
  border-radius: 6px;
}
.custom-checkbox.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%233b6da7' stroke-width='1.5'%3E%3Cpath d='M6 10l3 3 6-6'/%3E%3C/svg%3E");
  background-size: 23px 23px;
  background-position: 25% 29%;
}
.custom-checkbox.form-check-input:checked {
  border-color: var(--secondery-color);
  background-color: var(--light-color);
}
.no_result_img {
  height: 200px;
}
.top-tabs-section {
  padding: 20px;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  border: 0px;
}
.top-tabs-item {
  border-radius: var(--raduis-md) !important;
  padding: 8px 12px !important;
  color: #939393 !important;
  border: 1px solid #EDEDED !important;
  cursor: pointer;
}
.top-tabs-item.active {
  color: var(--secondery-color) !important;
  background-color: var(--light-secondary-color) !important;
  border-color: var(--light-secondary-color) !important;
}
.form-group:has(select:required) label ,
.form-group:has(input:required) label ,
.form-group:has(textarea:required) label { 
 position: relative;
}
.form-group:has(input:required) label:first-of-type::after,
.form-group:has(select:required) label:first-of-type::after,
.form-group:has(textarea:required) label:first-of-type::after {
  content: "*";
  font-size: 14px;
  position: absolute;
  top: 0;
  padding-inline: 2px;
  color: red;
}

.box-btn {
  text-decoration: none;
}
.attachment-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
}

.attachment-item {
  flex: 1 1 1 calc(10% - 10px);
  max-width: calc(10% - 10px);
  min-width: 100px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.attachment-item img {
  width: 100%;
  aspect-ratio: 1/0.9;
  object-fit: cover;
  display: block;

}
.attachment-item-actions {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 7px;
  top: 6%;
  inset-inline-end: 6%;
}
.attachment-item-actions i {
  border-radius: 6px;
  width: 25px;
  display: block;
  aspect-ratio: 1/1.1;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.attachment-item-actions .board-view {
  color: var(--primary-color);
  background-color: var(--light-secondary-color)
}
.attachment-item-actions .board-bin {
  color: var(--red);
  background-color: #FFECEE;
}
#attachment-modal-imgs .modal-dialog {
    height: 100%;
    width: 100%;
    max-width: unset;
    margin: 0px;
  }
 #attachment-modal-imgs .modal-content {
    height: 100%;
    width: 100%;
    background: #000000e3 !important;
 }
  #attachment-modal-imgs .modal-header {
    position: absolute;
    z-index: 11;
    border: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  #attachment-modal-imgs .modal-header .btn-close {
    background-color: rgba(191, 188, 188, 0.929);
    border-radius: 50%;
  }
   #attachment-modal-imgs .modal-header .btn-close:focus {
    box-shadow: none !important;
    opacity: 0.8;
   }
  #attachment-modal-imgs .modal-body {
    padding: 0px;
    height: 100%;
    width: 100%;
  }
  #attachment-modal-imgs .swiper-wrapper {
    height: 100%;
  }
   #attachment-modal-imgs .image-swiper {
    height: 100%;
  }
  #attachment-modal-imgs .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  #attachment-modal-imgs .swiper-slide img {
    object-fit: contain;
    width: 100% !important;
    height: 100% !important;
  }
  #attachment-modal-imgs .swiper-button-next, 
  #attachment-modal-imgs .swiper-button-prev {
    color: #fff
  }
  .custom-modal .modal-footer {
    border: 0px;
  }
  .custom-modal .modal-content {
    border-radius: 12px;
    box-shadow: 0 20px 24px -4px rgba(16, 24, 40, 0.08), 0 8px 8px -4px rgba(16, 24, 40, 0.03);
  }
  .user_specific_name {
    position: relative;
  }
  .user_specific_title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-inline-start: 17px;
    position: relative;
    white-space: pre-wrap;
    max-width: 300px;
  }
  .user_specific_name::before{
    position: absolute;
    content: " ";
    background-color: #c7c8c8;
    height: 90%;
    width: 2px;
    inset-block-start: 110%;
    border-radius: 50px;
  }
  .user_specific_title::before {
    position: absolute;
    content: " ";
    background-color: #c7c8c8;
    width: 13px;
    height: 2px;
    inset-inline-start: 0px;
    inset-block-start: 8px;
    border-radius: 50px;
  }
  .content-list {
    padding-inline: 35px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    counter-reset: list-counter;
    position: relative;
  }
  .content-list li {
    counter-increment: list-counter;
  }
  .content-list li::before {
    content: counter(list-counter);
    position: absolute;
    background-color: var(--secondery-color);
    border-radius: 50%;
    width: 23px;
    padding-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    aspect-ratio: 1/1.05;
    inset-inline-start: 0px;
  }

  /* user login */
.userLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login_lang {
  position: absolute;
  inset-inline-end: 30px;
  inset-block-start: 30px;
}
.lang-dropdown i {
   transform: translate(0px, 2px);
   font-size: 18px;
}
.userlogin_content {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   gap: 20px;
   padding: clamp(12px,10vw, 200px);
   height: 100vh;
   background-color: #fff;
}
.login-title {
  font-size: 24px;
  font-weight: 700;
}
.login-desc {
  font-size: 16px;
  font-weight: 400;
  color: #606060;
}
.login-logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
}
.userlogin_content .is-invalid {
   background-image:unset !important;
   padding: .375rem .75rem !important;
}
#togglePasswordIcon {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  inset-inline-end: 15px;
  font-size: 16px;
  color: var(--gray-color);
  cursor: pointer;
}
.imgs_login {
  height: 100vh;
}
.login_swiper {
  height: 100%;
  width: 100%;
  position: relative !important;
}
.login_swiper .swiper-slide {
  position: relative;
}
.login_swiper .swiper-slide > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
} 
.swiper-pagination{
  bottom: var(--swiper-pagination-bottom, 40px) !important;
}
.login_swiper .swiper-pagination-bullet {
  background: #D1D1D1;
  opacity: 0.7;
}
.login_swiper .swiper-pagination-bullet-active {
  background: #fff;
  width: 31px;
  opacity: 1;
  border-radius: 50px;
}
.imgs_login_text {
  position: absolute;
  bottom: 50px;
  color: #ffff;
  inset-inline-end: 30px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
  z-index: 11;
}
.login-logo-vector {
  top: 0px;
  position: absolute;
  z-index: 1;
}
.userlogin_inputs {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.userlogin_input {
   position: relative;
}
#userlogin_label , #passwordlogin_label{
   position: absolute;
   top: -11px;
   right: 1rem;
   transform: translate(0px,0px);
   background-color: #fff;
   color: #1977CC;
   padding: 0px 7px;
   visibility: hidden;
   opacity: 0;
   z-index: 1;
   transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.correct_input {
   border: 2px solid #1977CC !important;
}
.userlogin_logoimg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
}
.userlogin_logoimg img {
   /* width: 17vw; */
   min-width: 40px;
   /* height: 9vw; */
   margin-bottom: 10px;
   min-height: 40px;
}
.userlogin_logoText {
   color: #FFF;
   font-size: 2.3vh;
   font-style: normal;
   font-weight: 700;
   white-space: nowrap;
}

.adv-card-img {
  width: auto;
  height: 61px;
  aspect-ratio: 1.3/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--body-bg);
}
.adv-card-title {
font-size: 14px;
font-weight: 500;
}
.adv-card-desc {
  color: #A7A7A7;
  font-size: 12px;
  font-weight: 700;
}
/* chart */
.chart_card .box-body {
  padding: 10px;
}
.apexcharts-canvas {
 direction: ltr !important;
}
/* legend */
.apexcharts-legend-series {
  margin: 0px !important;
}
#Meeting_Invitation_Response .apexcharts-legend {
  top: 0px !important;
  gap: 8px;
  padding: 0px;
}
#Meeting_Invitation_Response .apexcharts-legend {
  display: none;
}
.apexcharts-legend {
   gap: 15px;
}
.Meeting_Invitation_chart .apexcharts-legend {
  position: relative !important;
  gap: 10px;
  overflow: hidden;
  top: 0px !important;
}
.apexcharts-legend-series {
  gap: 8px;
  direction: rtl !important;
}
.apexcharts-legend-text {
    padding-right: 15px;
    margin-right: -15px;
    padding-left: unset !important;
    margin-left: unset !important;

}
.chart {
  max-width: 100%;
  overflow: hidden;
}
.chart_parent {
  overflow: auto;
}
#Meeting_Invitation_Response {
  min-width: 600px;
}
.img_uplod {
  position: relative;
  width: max-content;
  margin: auto;
  margin-bottom: 20px;
}
.img_upload_icon {
  position: absolute;
  border-radius: 50%;
  border: 2px solid #FFF;
  background: var(--light-secondary-color);
  color: var(--secondery-color);
  padding: 7px 9.4px;
  inset-block-end: 2px;
  inset-inline-end: 10px;
  pointer-events: none;
}
.user_img_upload {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user_img_upload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .box-head .box-title {
    font-size: 15px;
  }
  .custom-tabs .nav-item .nav-link {
    font-size: 12px;
  }
  .box-head,
  .box-body {
    padding: 15px;
  }
  .fast-link {
    padding: 10px 15px;
  }
  .cell-info > li,
  .cell-info .view {
    font-size: 10px;
  }
  /* .inputs-grid-2 {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  } */
  /* .inputs-grid-3 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  } */
  .inputs-grid-4 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .links-deatils {
    flex-wrap: wrap;
  }
  .links-data , .links-records{
    width: 100%;
    max-width: unset;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .filters-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .stat-count {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .col-sm-12 {
    width: 100%;
  }
  .meeting-grid-container {
    grid-template-columns: 100%;
  }
  .filters-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .tabs-with-bg .nav-item .nav-link {
    min-width: auto;
  }
  .inputs-grid-2,
  .inputs-grid-3,
  .inputs-grid-4 {
    grid-template-columns: unset;
  }
}
